<html>
  <head>
    <script language="javascript" type="text/javascript" src="{{ url_for('static', filename='jquery.min.js') }}"></script>
    <script language="javascript" type="text/javascript" src="{{ url_for('static', filename='jquery.sparkline.js') }}"></script>
    <script language="javascript" type="text/javascript" src="{{ url_for('static', filename='saron.js') }}"></script>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}"/>
  </head>
  <body>
	<div id="superchartdiv">

	</div>
  </body>
  <script>
    get_data("{{ url_for('raw_data') }}");
  </script>
</html>
